body {
    background: #141414;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.site__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #C2C9DA;
}

.site__header {
    padding: 1rem;
}

.teams-list {
    width: 800px;
    background: rgba(0, 0, 0, .8);
}

.form {
    width: 100%;
    max-width: 600px;
    margin-top: 4rem;
}
.status__container {
    margin-bottom: .5rem;
}
.console {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    border-radius: 10px;
    background: #efefef;
    color: #141414;
    border: 5px solid #ad2e15
}

#calculate {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 4px;
    background: #ad2e15;
    color: #efefef;
    text-decoration: none;
}

#calculate:hover {
    color: #efefef;
}

.result_team_a {
    color: #007bff;
    font-size: 1.5rem;
}

.result_team_b {
    color: #dc3545;
    font-size: 1.5rem;
}

.logo {
    max-width: 50px;
    margin-right: 10px;
}

#loading {
    max-width: 140px;
    display: none;
}
